@model FootballStats.Web.ViewModels.Home.IndexViewModel
@using FootballStats.Common
@{
    this.ViewData["Title"] = "Home Page";
    var matchItems = this.Model.MatchItems.Select(x => new SelectListItem(x.Value, x.Key.ToString()));
}

<div class="text-center">
    <h1 class="display-4"> Welcome to @GlobalConstants.SystemName!</h1>
    <div class="row">
        <div class="col-md-6">
            @if (Model.ChosenMatch != null)
            {
                <h2>Today matches</h2>
                <div class="card justify-content-sm-center" style="width: 22rem;">
                    <img id='urlImage' src="@Model.ChosenMatch.HomeTeamLeagueUrlImage"  class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            <span id="homeTeamId">@Model.ChosenMatch.HomeTeam.Name</span>-<span id="awayTeamId">@Model.ChosenMatch.AwayTeam.Name</span>
                        </h5>
                        <p id='dateMatch'class="card-text">@Model.ChosenMatch.DateMatch</p>
                        <a id ='detailsId' asp-controller="Matches" asp-action="Details" asp-route-id="@Model.ChosenMatch.Id" class="btn btn-primary">Details</a>
                    </div>
                </div>
                <br />
                <select id='matchDropdown' asp-for="ChosenMatch.Id" class="form-control" asp-items="matchItems"></select>
                <br /><hr></hr><br />
            }
            else
            {
                <h2>No matches Today!</h2>
            }
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">League</th>
                        <th scope="col">Matches today</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var leagueItem in Model.LeagueItems)
                    {
                        <tr>
                            <td>@leagueItem.LeagueName</td>
                            <td>@leagueItem.MatchesCount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <p>We have:</p>
            <ul class="list-group">
                <li class="list-group-item bg-info"> Footballers: @Model.FootballersCount</li>
                <li class="list-group-item bg-light"> Teams: @Model.TeamsCount</li>
                <li class="list-group-item bg-info"> Matches: @Model.MatchesCount</li>
                <li class="list-group-item bg-light"> Stadiums: @Model.StadiumssCount</li>
                <li class="list-group-item bg-info"> Leagues: @Model.LeaguesCount</li>
                <li class="list-group-item bg-light"> Countries: @Model.CountriesCount</li>
            </ul>
        </div>
    </div>
</div>

@section Scripts{
    <script>

        $("#matchDropdown").change(function () {
            var matchId = $("#matchDropdown").val();

            var data = { matchId: matchId };

            $.get("/api/ChosenMatch", { matchId: matchId })
                .done(function (data) {
                    let test1 = data;
                    console.log(test1);
                    document.getElementById("dateMatch").textContent = data.dateMatch;
                    document.getElementById('urlImage').src = data.homeTeamLeagueUrlImage;
                    document.getElementById('homeTeamId').textContent = data.homeTeam.name;
                    document.getElementById('awayTeamId').textContent = data.awayTeam.name;
                    document.getElementById('detailsId').href = 'Matches/Details/' + data.id;
                });
        });
    </script>
}



